@tailwind base;
@tailwind components;
// body {
//   font-family: gelion sans-serif;
// }

html {
  scroll-behavior: smooth;
}



.card:hover {
  @apply border-b-4 border-red-400;
  transform: scale(1.07);
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

@tailwind utilities;
