@tailwind base;
@tailwind components;
// body {
//   font-family: gelion sans-serif;
// }

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right white, rgba(181, 116, 116, 1));
}

.card:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.5s;
  cursor: pointer;
}


@tailwind utilities;
